#==================================================
#compiled python files
*.pyc

#eclipse files
*.project
*.pydevproject

#all log files
**/*.log

#==================================================
#these are temporary
.
ansible.cfg
example.log
hosts
playbook.yml
turntable.log
